<!-- START: About Our Agency -->
<div class="bg-white" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-xs-center">
                <div class="nk-gap-4 mt-9"></div>

                <h2 class="display-4">About Our Agency</h2>
                <div class="nk-gap mnt-5"></div>

                <p>We are a new design studio based in USA. We have over 20 years of combined experience, and know a thing or two about designing websites and mobile apps. Clever use of technology and lean processes enable us to work faster and smarter.
                </p>

                <img src="assets/images/about-me-signature.png" alt="" class="nk-img-fit">

                <div class="nk-gap-4 mt-25"></div>
            </div>
        </div>
    </div>
</div>
<!-- END: About Our Agency -->
