<header class="nk-header">
  <!--
  START: Navbar
  -->
  <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-transparent nk-navbar-white-text-on-top">
      <div class="container">
          <div class="nk-nav-table">
              <a href="index.html" class="nk-nav-logo">
                  <img src="assets/images/logo-light.svg" alt="" width="85" class="nk-nav-logo-onscroll">
                  <img src="assets/images/logo.svg" alt="" width="85">
              </a>

              <ul class="nk-nav nk-nav-right hidden-md-down" data-nav-mobile="#nk-nav-mobile">
                  <li>
                      <a href="index.html#about">About</a>
                  </li>
                  <li>
                      <a href="index.html#contact">Contact</a>
                  </li>
                  <li>
                      <a href="portfolio.html"><%= username %></a>
                  </li>
                  <li>
                      <a href="blog.html">Blog</a>
                  </li>
              </ul>

              <ul class="nk-nav nk-nav-right nk-nav-icons">
                  <li class="single-icon hidden-lg-up">
                      <a href="#" class="nk-navbar-full-toggle">
                          <span class="nk-icon-burger">
                              <span class="nk-t-1"></span>
                              <span class="nk-t-2"></span>
                              <span class="nk-t-3"></span>
                          </span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <!-- END: Navbar -->

</header>
