<div>
    <div>
        <div class="pl-15 pr-15">
            <div class="nk-blog-post">
                <div class="nk-post-thumb">
                    <a href="blog-single.html">
                        <img src="<%= tin.image %>" alt="" class="nk-img-stretch">
                    </a>
                    <div class="nk-post-category"><a href="#">Branding</a></div>
                </div>
                <h2 class="nk-post-title h4"><a href="blog-single.html"><%= tin.title %></a></h2>

                <div class="nk-post-date">
                    <%= tin.date %>
                </div>

                <div class="nk-post-text">
                    <p><%= tin.desc %></p>
                </div>
            </div>
        </div>
        <div class="nk-gap-1"></div>
    </div>
</div>
