<html>
    <head>
        <title>KhoaPham</title>
    </head>

    <body>
        <form method="POST" action="/admin/news">
            <input type="text" placeholder="Title" name="title"/>
            <br/><br/>
            <input type="text" placeholder="Date" name="date"/>
            <br/><br/>
            <input type="text" placeholder="Description" name="desc"/>
            <br/><br/>
            <input type="text" placeholder="Image" name="image"/>
            <br/><br/>
            <input type="submit" value="Add news"/>
        </form>
    </body>
</html>