<html>
    <head>
        <title>KhoaPham</title>
    </head>
    <body>
        <table>
            <tr>
                <td>STT</td>
                <td>Tiêu đề</td>
                <td>Mô tả</td>
                <td>Ngày đăng</td>
                <td>Hình ảnh</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Khoa Pham mo lop ReactNative</td>
                <td>ReactNative la mot thu vien cua Facebook, chay da nen tang</td>
                <td>16/3/2017</td>
                <td><img src="1.png" width="200px"/></td>
            </tr>
        </table>
    </body>
</html>