<form method="POST" action="/array" enctype="multipart/form-data">
    <input type="text" placeholder="Title" name="title"/>
    <br/><br/>
    <input type="file" name="avatar"/>
    <br/><br/>
    <input type="file" name="avatar"/>
    <br/><br/>
    <input type="file" name="avatar"/>
    <br/><br/>
    <input type="submit" value="Update"/>
</form>