<!DOCTYPE html>
<html>
  <head>
    <base href="http://localhost:3000"/>
    <meta charset="utf-8">
    <title>Khoa Pham</title>
  </head>
  <body>
    <h1>Xin chao</h1>
    <img src="1.png" alt="" />
  </body>
</html>
