<!DOCTYPE html>
<html>
  <head>
    <base href="http://localhost:3000"/>
    <meta charset="utf-8">
    <title>KhoaPham</title>
  </head>
  <body>
    <form action="/home/show" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Sign in">
    </form>
  </body>
</html>
